html
  head
    title= title
    != newrelic.getBrowserTimingHeader()
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js')
  body
    h1= message
    div Last sent message:&nbsp;
      span(id='message-text') ...
    div
      form(action='/', method='post')
        label(for='message') Message
        input(type='text', size=30, name='message')
        br
        input(type='submit')
    script(type='text/javascript').
      $.get('/message', function(data) { 
        $('#message-text').text(data);
      });
